<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Etusivu</title>
  </head>
  <body>
    <h1>Tervetuloa</h1>
    <p>Siirry antamaan palautetta:</p>

    <a href="/palaute">Anna palautetta</a>
  </body>
</html>
