<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <title>Vastaus</title>
  </head>
  <body>
    <h1>Kiitos palautteesta!</h1>

    <p><strong>Nimi:</strong> <%= nimi %></p>
    <p><strong>Sähköposti:</strong> <%= sahkoposti %></p>
    <p><strong>Palaute:</strong></p>
    <p><%= palaute %></p>

    <br />
    <a href="/palaute">Takaisin lomakkeeseen</a>
  </body>
</html>
