<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palautelomake</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Palautelomake</h1>
    <form method="post">
        <label for="name">Nimi</label>
        <input type="text" name="name" id="name">

        <label for="email">Sähköposti</label>
        <input type="email" name="email" id="email">

        <label for="feedback">Palaute</label>
        <textarea name="feedback" id="feedback"></textarea>

        <button type="submit">Lähetä palaute</button>
    </form>
</body>
</html>