<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palautelomake</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Kiitos palautteestasi, <%= name %>!</h1>

    <p>Otamme sinuun tarvittaessa yhteyttä sähköpostitse osoitteeseen <%= email %>.</p>
    <p><a href="/palautelomake">Takaisin</a></p>
</body>
</html>
