<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <title>
        <%= nimi %> - Listasovellus
    </title>
</head>

<body>
    <h1>
        <%= nimi %>
    </h1>

    <p>
        <%= kuvaus %>
    </p>
</body>

</html>